<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
    <script type="text/javascript" src="./static/js/lib/Box2D.js"></script>
    <script type="text/javascript" src="./static/js/main.js"></script>
    <script type="text/javascript" src="./static/js/graphics.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootflat@2.0.4/css/site.min.css">
</head>
<style>
.myCanvas{
  background-color: azure;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.body{
  position: absolute;
  top: 50%;
  left:0;
  width: 100%;
  height: 50%;
}

#droparea{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

  </style>
  <body id="droparea">
    
    <canvas id="myCanvas" class="myCanvas" ></canvas>
<div class="body text-center">
  <div class="max">
  <button id="button" type="button" class="btn btn-primary btn-clock" onclick="onClearButtonClick();">ゴミ箱を空にする</button>
</div>
</div>

</section>
</body>
</html>
